@model IEnumerable<KermanCraft.Application.ViewModels.Admin.AdminListViewModel>

@*@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}*@
@{
    ViewData["Title"] = "AdminUserList";
}
<div class="portlet-heading">
    <div class="portlet-title">
        <h3 class="title">
            <i class="icon-user"></i>
            لیست کاربران سایت
        </h3>
    </div><!-- /.portlet-title -->
</div><!-- /.portlet-heading -->
<div class="table-responsive">
    <div class="col-md-4 col-12 m-b-20">
        <a class="btn btn-success btn-curve" asp-area="Admin" asp-action="AddAdminUser" asp-controller="Admin">
            <i class="icon-plus"></i>
            افزودن
        </a>
    </div>
    <table class="table table-bordered table-hover table-striped" id="dataTable">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>موبایل</th>
                <th>وضعیت</th>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td>کاربری یافت نشد.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Family
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>

                        @if (item.Status)
                        {
                            <td>
                                <label class="label-success round">فعال</label>
                            </td>
                        }
                        else
                        {
                            <td>
                                <label class="label-danger round">غیرفعال</label>
                            </td>

                        }
                        <td>
                            <a asp-area="Admin" asp-controller="Admin" asp-action="UpdateAdminUser" asp-route-userId="@item.Id" class="btn btn-info btn-curve">ویرایش</a>
                            <button class="btn btn-danger btn-curve select-link" data-id="@item.Id" type="button">حذف</button>
                            @*<a asp-area="Admin" asp-controller="Admin" asp-action="GetAdminUserClaim" asp-route-id="@item.Id" class="btn btn-secondary btn-curve">دسترسی</a>*@
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="/assets/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/pages/datatable.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(".select-link").click(function() {
            var id = $(this).data("id");
            swal({
                title: 'آیا اطمینان دارید؟',
                text: "این عملیات برگشت پذیر نیست...",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#f44336',
                cancelButtonColor: '#777',
                confirmButtonText: 'بله، حذف شود. ',
                cancelButtonText: 'انصراف'
            }).then(function() {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteAdminUser", "Admin", new {Area = "Admin"})",
                        data: { id: id },
                        dataType: "text",
                        @*headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },*@
                        success: function() {

                            swal(
                                'انتخاب شما حذف کردن بود.',
                                'فایل شما با موفقیت حذف گدید.',
                                'success'
                            ).catch(swal.noop).then(function() {
                                location.reload();
                            });


                        },
                        error: function() {

                            swal(
                                'مشکلی در حذف پیش آمده است،یا پشتیبانی تماس بگیرید.',
                                'فایل شما حذف نگردید',
                                'error').catch(swal.noop).then(function () {
                                    location.reload();
                                });
                        }
                    });
                },
                function(dismiss) {
                    if (dismiss === 'cancel') {
                        swal(
                            'لغو گردید',
                            'فایل شما همچنان وجود دارد.',
                            'error'
                        ).catch(swal.noop);;
                    }
                }).catch(swal.noop);
        });
    </script>


    <!-- END PAGE JAVASCRIPT -->
}

