@model IEnumerable<KermanCraft.Application.ViewModels.Artist.ArtistListViewModel>
@{
    ViewData["Title"] = "GetAllArtist";
}

<link rel="stylesheet" href="~/front/Content/css/cardrozane .css" />
<div class="container mt-5">
    <br /> <br />
    <h1 class="text-white  heading-1"><span>هنرمندان</span></h1>

    <br />
    <br />
    <div class="row">
    
        @if (!Model.Any())
        {
            <div>موردی وجود ندارد!</div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
                    <div class="card">
                        <img class="imgneg" src="~/images/ArtistUser/@item.ImageUrl" alt="ArtistImage"/>
                        <br />
                        <h5>@item.Name @item.Family</h5>
                        <br />
                       
                        <a class="textm">
                            @item.Job
                        </a>
                        <hr/>
                        <a class="textm">
                            برند : @item.Brand
                        </a>
                        <br/>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <a asp-controller="Home" asp-action="GetArtist" asp-route-userId="@item.Id"  class="btnkhabar">جزییات</a>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<br>
<br>