@using Kavenegar.Core.Models
@using System.Diagnostics.Tracing
@model KermanCraft.Application.ViewModels.IndexView.FirstIndexViewModel
@{ ViewData["Title"] = "Index";
    //var i = 0;
}

<main class="site-main post-7 envato_tk_templates type-envato_tk_templates status-publish has-post-thumbnail hentry" role="main">
    <div class="page-content">
        <div data-elementor-type="wp-post" data-elementor-id="7" class="elementor elementor-7" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-element elementor-element-bbd3172 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="bbd3172" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;wave-brush&quot;}">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-shape elementor-shape-top" data-negative="false">

                        </div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-789b316 elementor-column elementor-col-100 elementor-top-column" data-id="789b316" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-bc60dcf elementor-widget elementor-widget-heading" data-id="bc60dcf" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 class="elementor-heading-title elementor-size-default">صنایع دستی و میراث فرهنگی</h3>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-80ec33d elementor-widget elementor-widget-text-editor" data-id="80ec33d" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix"><p>متن و توضیح</p></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-element elementor-element-21c400e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="21c400e" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-2d89f27 elementor-column elementor-col-33 elementor-top-column" data-id="2d89f27" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-d40d9ae elementor-widget elementor-widget-image" data-id="d40d9ae" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <img width="768" height="1024" src="~/front/Content/Images/close-up-interior-of-modern-fashion-showroom-small.jpg" class="attachment-large size-large" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-e4fd5dd elementor-column elementor-col-33 elementor-top-column" data-id="e4fd5dd" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-e6ee269 elementor-widget elementor-widget-heading" data-id="e6ee269" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">فروشگاه </h3>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-466a7ef elementor-widget elementor-widget-divider" data-id="466a7ef" data-element_type="widget" data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="elementor-element elementor-element-dc3ab8e elementor-widget elementor-widget-text-editor" data-id="dc3ab8e" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">

                                                        <p>
                                                            وبسایتی برای
                                                            فروش اینترنتی صنایع دستی و

                                                            محصولات هنری اصیل ایرانی
                                                            است که در سال 1395 تاسیس

                                                            شده تا با فراهم کردن محصولات با کیفیت و فاخر ایرانی
                                                            و دانش و آگاهی در مورد هنر ایران زمین، نیاز همه مشتریان و مخاطبان خود از جملهکودکان نوجوانان>، خانمهاآقایانی که به هنر اصیل ایرانی علاقه دارند را برطرف کند. درفروشگاه صنایع دستی رابین، تنوع زیادی از انواع محصولات از جمله


                                                            <strong>
                                                                <br />
                                                                <br />
                                                                <a class="forosh" asp-controller="Home" asp-action="GetShop">سایت فروشگاه</a>
                                                            </strong>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-50a8113 elementor-column elementor-col-33 elementor-top-column" data-id="50a8113" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-3d306e9 elementor-widget elementor-widget-image" data-id="3d306e9" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <img width="768" height="1024" src="~/front/Content/Images/close-up-of-male-hand-of-potter-examining-clay-cup-small.jpg" class="attachment-large size-large" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">هنرمندان</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator">
                                </span>
                            </div>
                        </div>
                    </div>


                    <section class="elementor-element tt footi elementor-element-de0e6fe elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="de0e6fe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">

                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-4b64691 elementor-column elementor-col-100 elementor-top-column" data-id="4b64691" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            @if (Model.ArtistViewModels.Any())
                                            {
                                                <section class="elementor-element elementor-element-a32bc54 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="a32bc54" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            @{
                                                                var count = Model.ArtistViewModels.Count();
                                                            }
                                                            @for (var i = 0; i < 4; i++)
                                                            {


                                                                @if (count == 0) { break; }
                                                                count--;
                                                                <div class="elementor-element elementor-element-3c5e0fc elementor-column elementor-col-50 elementor-inner-column" data-id="3c5e0fc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-85fb42b elementor-widget elementor-widget-testimonial" data-id="85fb42b" data-element_type="widget" data-widget_type="testimonial.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">

                                                                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                                            <div class="elementor-testimonial-meta-inner">
                                                                                                <div class="elementor-testimonial-image">
                                                                                                    <a asp-controller="Home" asp-action="GetArtist" asp-route-artistId="@Model.ArtistViewModels[i].Id"> <img width="200" height="200" src="~/images/ArtistUser/@Model.ArtistViewModels[i].ImageUrl" class="attachment-full size-full" alt="artistImage" /></a>
                                                                                                </div>

                                                                                                <div class="elementor-testimonial-details">
                                                                                                    <div class="elementor-testimonial-name">@Model.ArtistViewModels[i]?.Name @Model.ArtistViewModels[i]?.Family</div>
                                                                                                    <br />
                                                                                                    <div class="elementor-testimonial-job">@Model.ArtistViewModels[i]?.Brand </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="elementor-element elementor-element-9760cd9 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="9760cd9" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            @for (var i = 4; i < 8; i++)
                                                            {

                                                                @if (count == 0) { break; }
                                                                count--;
                                                                <div class="elementor-element elementor-element-3c5e0fc elementor-column elementor-col-50 elementor-inner-column" data-id="3c5e0fc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-85fb42b elementor-widget elementor-widget-testimonial" data-id="85fb42b" data-element_type="widget" data-widget_type="testimonial.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">

                                                                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                                            <div class="elementor-testimonial-meta-inner">
                                                                                                <div class="elementor-testimonial-image">
                                                                                                    <a asp-controller="Home" asp-action="GetArtist" asp-route-artistId="@Model.ArtistViewModels[i].Id"> <img width="200" height="200" src="~/images/ArtistUser/@Model.ArtistViewModels[i].ImageUrl" class="attachment-full size-full" alt="artistImage" /></a>

                                                                                                </div>

                                                                                                <div class="elementor-testimonial-details">
                                                                                                    <div class="elementor-testimonial-name">@Model.ArtistViewModels[i]?.Name @Model.ArtistViewModels[i]?.Family</div>
                                                                                                    <br />
                                                                                                    <div class="elementor-testimonial-job">@Model.ArtistViewModels[i]?.Brand </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="elementor-element elementor-element-9760cd9 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="9760cd9" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            @for (var i = 8; i < 12; i++)
                                                            {

                                                                @if (count == 0) { break; }
                                                                count--;
                                                                <div class="elementor-element elementor-element-3c5e0fc elementor-column elementor-col-50 elementor-inner-column" data-id="3c5e0fc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-85fb42b elementor-widget elementor-widget-testimonial" data-id="85fb42b" data-element_type="widget" data-widget_type="testimonial.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">

                                                                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                                            <div class="elementor-testimonial-meta-inner">
                                                                                                <div class="elementor-testimonial-image">
                                                                                                    <a asp-controller="Home" asp-action="GetArtist" asp-route-artistId="@Model.ArtistViewModels[i].Id"> <img width="200" height="200" src="~/images/ArtistUser/@Model.ArtistViewModels[i].ImageUrl" class="attachment-full size-full" alt="artistImage" /></a>

                                                                                                </div>

                                                                                                <div class="elementor-testimonial-details">
                                                                                                    <div class="elementor-testimonial-name">@Model.ArtistViewModels[i]?.Name @Model.ArtistViewModels[i]?.Family</div>
                                                                                                    <br />
                                                                                                    <div class="elementor-testimonial-job">@Model.ArtistViewModels[i]?.Brand </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </section>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    <section class="elementor-element elementor-element-87b586b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="87b586b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">نگارخانه</h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                @foreach (var item in Model.ArtGalleryViewModels)
                                {
                                    <div class="elementor-element elementor-element-8192954 elementor-column elementor-col-33 elementor-top-column" data-id="8192954" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">

                                                <div class="elementor-element elementor-element-56f5751 elementor-hidden-phone elementor-widget elementor-widget-spacer" data-id="56f5751" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-34124ec elementor-widget elementor-widget-image" data-id="34124ec" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <a asp-controller="Home" asp-action="GetArtGallery" asp-route-artGalleryId="@item.ArtGalleryId"><img width="800" height="1067" src="~/images/ArtGallery/@item.ImageViewModels[0]" class="elementor-animation-float attachment-full size-full" alt="" /> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b470b3d elementor-widget elementor-widget-heading" data-id="b470b3d" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">@item.Name</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b7facd4 elementor-widget elementor-widget-text-editor" data-id="b7facd4" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix"><p>@Html.Raw(item.Description.Substring(0, 5))...</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </section>



                    <section class="pt-5 pb-5">
                        <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">مراکز و تولیدی ها </h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-danger1 mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-danger1 mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="col-12">
                                    @if (Model.CompanyViewModels.Any())
                                    {
                                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="row">
                                                        @{
                                                            var companyCount = Model.CompanyViewModels.Count();
                                                        }
                                                        @for (var j = 0; j < 3; j++)
                                                        {
                                                            if (companyCount==0)
                                                            {
                                                                break;
                                                            }
                                                            companyCount--;
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/images/Company/@Model.CompanyViewModels[j]?.ImageUrl" alt="CompanyImage" />

                                                                    <br />

                                                                    <br />
                                                                    <p>@Model.CompanyViewModels[j]?.Name</p>
                                                                    <a asp-controller="Home" asp-action="GetCompany" asp-route-companyId="@Model.CompanyViewModels[j]?.CompanyId"> <button type="button" class="btnkhabar1">جزییات </button></a>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="row">
                                                        @{
                                                            var company = Model.CompanyViewModels.Skip(3);
                                                        }
                                                        @foreach (var item in company)
                                                        {
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/images/Company/@item.ImageUrl" alt="CompanyImage" />
                                                                    <br />

                                                                    <br />
                                                                    <p>@item.Name</p>
                                                                    <a asp-controller="Home" asp-action="GetCompany" asp-route-companyId="@item.CompanyId"><button class="btnkhabar1">جزییات </button></a>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                                @*<div class="carousel-item">
                                                        <div class="row">

                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/front/Content/Images/صنایع-دستی-2.jpg" />
                                                                    <br />

                                                                    <br />
                                                                    <p>نام دوره</p>
                                                                    <button onclick="location.href='khabar-properties.html';" class="btnkhabar1">جزییات </button>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/front/Content/Images/صنایع-دستی-2.jpg" />
                                                                    <br />

                                                                    <br />
                                                                    <p>نام دوره</p>
                                                                    <button onclick="location.href='khabar-properties.html';" class="btnkhabar1">جزییات </button>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/front/Content/Images/صنایع-دستی-2.jpg" />
                                                                    <br />

                                                                    <br />
                                                                    <p>نام دوره</p>
                                                                    <button onclick="location.href='khabar-properties.html';" class="btnkhabar1">جزییات </button>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-element elementor-element-87b586b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="87b586b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">روزنه</h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                @foreach (var item in Model.WindowViewModels)
                                {
                                    <div class="elementor-element elementor-element-8192954 elementor-column elementor-col-33 elementor-top-column" data-id="8192954" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">



                                                <div class="elementor-element elementor-element-56f5751 elementor-hidden-phone elementor-widget elementor-widget-spacer" data-id="56f5751" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-34124ec elementor-widget elementor-widget-image" data-id="34124ec" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <a asp-controller="Home" asp-action="GetWindow" asp-route-windowId="@item.WindowId"><img width="800" height="1067" src="~/images/Window/@item.ImageViewModels[0].ImageUrl" class="elementor-animation-float attachment-full size-full" alt="" /> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b470b3d elementor-widget elementor-widget-heading" data-id="b470b3d" data-element_type="widget" data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">@item.Subject</h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b7facd4 elementor-widget elementor-widget-text-editor" data-id="b7facd4" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix"><p>@Html.Raw(item.Text.Substring(0, 5))...</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col-sm-6">

                            <section class="pt-5 pb-5">
                                <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">دوره های آموزشی</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6"></div>
                                        @*<div class="col-6 text-right">
                                                <a class="btn btn-danger1 mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                                                    <i class="fa fa-arrow-left"></i>
                                                </a>
                                                <a class="btn btn-danger1 mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                                                    <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>*@
                                        <div class="col-12">
                                            @if (Model.CourseViewModels.Any())
                                            {
                                                <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">

                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <div class="row">
                                                                @{
                                                                    var courseCount = Model.CourseViewModels.Count();
                                                                }
                                                                @for (var j = 0; j < 3; j++)
                                                                {
                                                                    if (courseCount == 0) { break; }
                                                                    courseCount--;
                                                                    <div class="col-sm-4  ">
                                                                        <div class="bb">
                                                                            <img class="rad" src="~/images/Course/@Model.CourseViewModels[0].ImageUrl" alt="WindowId" />
                                                                            <br />

                                                                            <br />
                                                                            <p>@Model.CourseViewModels[j].Subject</p>
                                                                            <a asp-controller="Home" asp-action="GetCourse" asp-route-courseId="@Model.CourseViewModels[j].CourseId"> <button type="button" class="btnkhabar1">جزییات </button></a>
                                                                            <br />
                                                                        </div>

                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        @{
                                                            var course = Model.CourseViewModels;
                                                        }
                                                        <div class="carousel-item">
                                                            <div class="row">
                                                                @foreach (var item in course)
                                                                {
                                                                    <div class="col-sm-4  ">
                                                                        <div class="bb">
                                                                            <img class="rad" src="~/images/Course/@item.ImageUrl" alt="WindowId" />
                                                                            <br />

                                                                            <br />
                                                                            <p>@item.Subject</p>
                                                                            <a asp-controller="Home" asp-action="GetCourse" asp-route-courseId="@item.CourseId">  <button type="button" class="btnkhabar1">جزییات </button></a>
                                                                            <br />
                                                                        </div>

                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-6">


                            <section class="pt-5 pb-5">
                                <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default">رویدادها </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                            <span class="elementor-divider-separator">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6"></div>
                                        @*<div class="col-6 text-right">
                                                <a class="btn btn-danger1 mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                                    <i class="fa fa-arrow-left"></i>
                                                </a>
                                                <a class="btn btn-danger1 mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                                    <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>*@
                                        <div class="col-12">
                                            @if (Model.EventViewModels.Any())
                                            {
                                                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <div class="row">
                                                                @{
                                                                    var eventCount = Model.EventViewModels.Count();
                                                                }
                                                                @for (var j = 0; j < 3; j++)
                                                                {
                                                                    if (eventCount == 0) { break; }
                                                                    eventCount--;
                                                                    <div class="col-sm-4  ">
                                                                        <div class="bb">
                                                                            <img class="rad" src="~/images/Event/@Model.EventViewModels[0].ImageUrl" alt="EventImage" />
                                                                            <br />

                                                                            <br />
                                                                            <p>@Model.EventViewModels[j].Name</p>
                                                                            <a asp-controller="Home" asp-action="GetEvent" asp-route-eventId="@Model.EventViewModels[j].EventId">  <button asp-controller="Home" asp-action="GetEvent" asp-route-eventId="@Model.EventViewModels[0].EventId" type="button" class="btnkhabar1">جزییات </button></a>
                                                                            <br />
                                                                        </div>

                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <div class="row">
                                                                @{
                                                                    var eve = Model.EventViewModels;
                                                                }
                                                                @foreach (var item in eve)
                                                                {
                                                                    <div class="col-sm-4  ">
                                                                        <div class="bb">
                                                                            <img class="rad" src="~/images/Event/@item.ImageUrl" alt="CourseImage" />
                                                                            <br />

                                                                            <br />
                                                                            <p>@item.Name</p>
                                                                            <a asp-controller="Home" asp-action="GetEvent" asp-route-eventId="@item.EventId"><button type="button" class="btnkhabar1">جزییات </button></a>
                                                                            <br />
                                                                        </div>

                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>





                    <section class="pt-5 pb-5">
                        <div class="footi elementor-element elementor-element-2bb6ec4 elementor-widget elementor-widget-heading" data-id="2bb6ec4" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 style="        color: #8b8b8b !important" class="elementor-heading-title elementor-size-default"> اخبار فرش</h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-322a9ec elementor-widget elementor-widget-divider" data-id="322a9ec" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-danger1 mb-3 mr-1" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-danger1 mb-3 " href="#carouselExampleIndicators1" role="button" data-slide="next">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="col-12">
                                    @if (Model.NewsViewModels.Any())
                                    {
                                        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="row">
                                                        @{
                                                            var newsCount = Model.NewsViewModels.Count();
                                                        }
                                                        @for (var j = 0; j < 3; j++)
                                                        {
                                                            if (newsCount==0)
                                                            {
                                                                break;
                                                            }
                                                            newsCount--;
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/images/news/@Model.NewsViewModels[0].ImageViewModels[0].ImageUrl" alt="EventImage"/>
                                                                    <br/>

                                                                    <br/>
                                                                    <p>@Model.NewsViewModels[j].Subject</p>
                                                                    <a asp-controller="Home" asp-action="GetNews" asp-route-newsId="@Model.NewsViewModels[0].NewsId"> <button type="button" class="btnkhabar1">جزییات </button></a>
                                                                    <br/>
                                                                </div>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="row">
                                                        @{
                                                            var news = Model.NewsViewModels;
                                                        }
                                                        @foreach (var item in news)
                                                        {
                                                            <div class="col-sm-4  ">
                                                                <div class="bb">
                                                                    <img class="rad" src="~/images/News/@item.ImageViewModels[0].ImageUrl" alt="NewsImage" />
                                                                    <br />

                                                                    <br />
                                                                    <p>@item.Subject</p>
                                                                    <a asp-controller="Home" asp-action="GetNews" asp-route-newsId="@item.NewsId"> <button type="button" class="btnkhabar1">جزییات </button></a>
                                                                    <br />
                                                                </div>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
        <div class="post-tags">
        </div>
    </div>
</main>


